<!DOCTYPE html>
<html>
    <head>
        <title>Playlist</title>
        <link rel="stylesheet" href="/styles/reset.css"></link>
        <link rel="stylesheet" href="/styles/main.css"></link>
    </head>
    <body>
        {{{body}}}
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://w.soundcloud.com/player/api.js"></script>
        {{!--<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>--}}
        <script src="/scripts/app.js"></script>
    </body>
</html>