<!DOCTYPE html>
<html>
    <head>
        <title>Playlist</title>
        <link rel="stylesheet" href="/styles/reset.css"></link>
        <link rel="stylesheet" href="/styles/main.css"></link>
    </head>
    <body>
        {{{body}}}
    </body>
</html>