




<h3>{{track}}</h3>



{{!--<script src="https://w.soundcloud.com/player/api.js"></script>--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script src="scripts/models/SoundCloudTrack.js"></script>


