body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}

a {
  color: #00B7FF;
}

.loader {
  height: 20px;
  width: 20px;
  background: url("/images/ajax-loader.gif");
}

.noLoader {
  height: 20px;
  width: 20px;
  background: green;
}
